:root {
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;

  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-36: 2.25rem;
  --fs-48: 3rem;
  --fs-60: 3.75rem;

  --clr-white: #fff;
  --clr-gray-200: #eaecf0;
  --clr-gray-500: #667085;
  --clr-gray-700: #3a404e;
  --clr-gray-900: #101828;
  --accent-clr: #8e2424;
  --accent-clr-2: #8e24240d;

  --shadow: 0 1px 2px #1018280d;

  --p-96: 6rem;
}

*,
*::before,
*::after {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 75rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  --btn-padding: 0.625rem 1.125rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem 0;
  flex-wrap: wrap;
  font-weight: var(--fw-medium);
  line-height: 1.5;
  padding-block: 1.125rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-18);
  color: var(--clr-gray-700);
}

.header-menu {
  display: flex;
  gap: 0.875rem;
  font-size: var(--fs-16);
}

.header-menu a {
  padding: var(--btn-padding);
  color: var(--clr-gray-500);
}

.register-or-login {
  display: flex;
  gap: 0.75rem;
}

.register-or-login > * {
  padding: var(--btn-padding);
  color: var(--clr-gray-500);
}

.register-btn {
  color: var(--clr-white);
  background-color: var(--accent-clr);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.about-us {
  padding-block: var(--p-96);
}

.about-us-description {
  display: grid;
  gap: 1.5rem;
  text-align: center;
  font-weight: var(--fw-semibold);
  line-height: 1.5;
  margin-inline: auto;
  max-width: 800px;
}

.about-us-description span {
  color: var(--accent-clr);
}

.about-us-description h1 {
  font-size: var(--fs-48);
  letter-spacing: -0.02em;
  line-height: 1.25;
  color: var(--clr-gray-900);
}

.about-us-description p {
  font-size: var(--fs-20);
  font-weight: var(--fw-regular);
  color: var(--clr-gray-500);
  margin-top: 0.75rem;
}

.about-us-metrics {
  display: grid;
  gap: 4rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: var(--p-96);
}

.metric span {
  font-size: var(--fs-60);
  font-weight: var(--fw-semibold);
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: var(--accent-clr);
}

.metric h2 {
  font-size: var(--fs-18);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  color: var(--clr-gray-900);
  margin-top: 0.75rem;
}

.metric p {
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-gray-500);
  margin-top: 0.5rem;
}

.open-vacancies {
  padding-block: var(--p-96);
}

.open-vacancies-description {
  display: grid;
  gap: 1rem;
  text-align: center;
}

.open-vacancies-description span {
  justify-self: center;
  font-size: var(--fs-14);
  font-weight: var(--fw-medium);
  line-height: 1.4;
  padding: 0.25rem 0.75rem;
  color: var(--accent-clr);
  background-color: var(--accent-clr-2);
  border-radius: 1rem;
}

.open-vacancies-description h2 {
  font-size: var(--fs-36);
  font-weight: var(--fw-semibold);
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--clr-gray-900);
}

.open-vacancies-description p {
  font-size: var(--fs-20);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-gray-500);
  margin-top: 0.25rem;
}

.open-vacancies img {
  margin-block: 4rem;
}

.jobs {
  display: grid;
  gap: 4rem;
  max-width: 48rem;
  margin-inline: auto;
}

.vacancy {
  display: grid;
  gap: 2rem;
}

.vacancy h3 {
  font-size: var(--fs-20);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  color: var(--clr-gray-900);
}

.job-description {
  display: grid;
  gap: 1.5rem;
}

.job-description li {
  display: grid;
  gap: 2rem;
  font-weight: var(--fw-medium);
  line-height: 1.5;
  padding: 1.5rem 1.5rem 1.75rem;
  border: 1px solid var(--clr-gray-200);
  border-radius: 1rem;
}

.job-description li h4 {
  font-size: var(--fs-18);
  color: var(--clr-gray-900);
}

.job-description li p {
  display: flex;
  gap: 0.5rem 1.5rem;
  flex-wrap: wrap;
  font-size: var(--fs-16);
  color: var(--clr-gray-500);
}
